body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

@media print {
  body {
    padding: 0;
  }
  .container {
    width: 100%;
  }
}

.bio,
.projects,
.jobs,
.education {
  margin-bottom: 40px;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px;
}

.bio-title {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 15px;
}

.bio-occupation {
  margin-bottom: 27px;
}

.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.bio-occupation,
.bio-about {
  font-size: 14px;
  line-height: 1.714;
  text-align: justify;
}

.bio-about, .projects-item {
  color: #595959;
}

.projects-link {
  color: #ff6b08;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item {
  padding: 5px 0;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.projects-code-link {
  margin-right: 5px;
  color:blue;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.projects-link:hover {
  color: blue;
}
.projects-code-link:hover {
  color: #ff6b08;
}

.jobs-title,
.education-title, .projects-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs-occupation,
.education-degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
}

.jobs-time,
.education-time, .data-agrement {
  color: #828282;
  font-size: 12px;
  line-height: 2;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.accent {
  color: #ff6b08;
}

/* ========= left-side ========= */

.left-side {
  width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.skills-item, .languages-item {
  font-size: 14px;
  line-height: 1.714;
}

.skills-list, .contacts-list,
.languages-list, .projects-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before,
.languages-item::before {
  content: "\2022";
  margin-right: 8px;
  color: #ff6b08;
  font-size: 18px;
}

.photo {
  width: 370px;
}

.contacts,
.skills,
.widget,
.languages {
  padding: 0 30px;

}

.contacts-title,
.skills-title, .languages-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 50px;
}

.contacts-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  color: #ffffff;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: #ff6b08
}

.photo:hover {
  animation: pulse 1s;
}